@media screen and (min-width: 300px) and (max-width: 400px) {
    #forgot-password-text {
        margin: 0px 31px 23px 31px !important;
        font-family: 'Muli', sans-serif !important;
        font-size: 14px !important;
        font-weight: 300 !important;
        color: #000000 !important;
        padding: 0px;
    }

    #forgot-password-buttonset {
        margin: 0px 31px !important;
    }

    .buttons-set .back-link a {
        text-decoration: none;
        font-family: 'Muli', sans-serif !important;
        font-size: 12px !important;
        font-weight: 700;
        position: absolute;
        bottom: -40px;
    }
}

@media screen and (min-width: 400px) and (max-width: 767px) {
    #forgot-password-text {
        margin: 0px 31px !important;
        font-family: 'Muli', sans-serif !important;
        font-size: 14px !important;
        font-weight: 300 !important;
        color: #000000 !important;
        padding: 0px;
    }

    .buttons-set .back-link {
        position: absolute !important;
        width: 100% !important;
        background: #F3F3F3;
        left: 35px;
        bottom: -40px;
    }

    .buttons-set .back-link a {
        text-decoration: none;
        font-family: 'Muli', sans-serif !important;
        font-size: 12px !important;
        font-weight: 700;
    }
}

@media screen and (max-width:767px) {

    #forgot-password-email-address-label {
        margin-bottom: 6px;
    }

    small {
        font-size: 15px;
        padding: 0px;
        margin: 0px;
    }

    #forgot-password-button {
        color: #ffffff !important;
        text-transform: uppercase;
        font-family: 'Muli', sans-serif !important;
        font-size: 14px !important;
        font-weight: 600 !important;
    }

    .customer-account-forgotpassword .col-main {
        padding: 0px !important;
        margin: 0px !important;
    }

    .customer-account-forgotpassword .buttons-set .button {
        width: 100% !important;
        overflow: visible;
        padding: 0 !important;
        height: 40px !important;
        border: none !important;
        margin: 0 !important;
        cursor: pointer !important;
        border-radius: 5px !important;
        text-decoration: none !important;
        background: #717171 !important;
    }

    form-list label {
        font-family: 'Muli', sans-serif !important;
        font-size: 14px !important;
        font-weight: 400 !important;
        margin: 6px !important;
    }


    #forgot-password-buttonset {
        padding: 0px;
        margin-top: 31px !important;
        margin-bottom: 40px !important;
    }

    #forgot-password-legend {
        margin: 0px 31px !important;
        font-family: 'Muli', sans-serif !important;
        font-size: 14px !important;
        font-weight: 600 !important;
        color: #000000 !important;
    }

    #forgot-password-notice {
        margin: 10px 31px -10px 31px !important;
        font-family: 'Muli', sans-serif !important;
        font-size: 14px !important;
        font-weight: 300 !important;
        color: #000000 !important;
    }

    .required-fields-indicator {
        display: none;
    }

    .form-list input.input-text {
        border: none !important;
        width: 100% !important;
        border-radius: 3px;
        -webkit-box-shadow: 0px 1px 1px 1px #00000029;
        -moz-box-shadow: 0px 1px 1px 1px rgba(0, 0, 0, 0.75);
        box-shadow: 0px 1px 1px 1px #00000029;
    }
}